data/__pycache__/config.cpython-310.pyc
system/__pycache__/__init__.cpython-310.pyc
extensions/hybrid/__pycache__/__init__.cpython-310.pyc
extensions/prefix/__pycache__/__init__.cpython-310.pyc
extensions/userapp/__pycache__/__init__.cpython-310.pyc
data/__pycache__/config.cpython-310.pyc
system/__pycache__/__init__.cpython-310.pyc
data/__pycache__/config.cpython-310.pyc
system/__pycache__/__init__.cpython-310.pyc
system/__pycache__/*
system/__pycache__/
extensions/hybrid/cogs/__pycache__/info.cpython-310.pyc
extensions/prefix/cogs/__pycache__/git.cpython-310.pyc
system/db/__pycache__/mysql.cpython-310.pyc
system/logger/__pycache__/logger.cpython-310.pyc
system/patches/__pycache__/context.cpython-310.pyc
system/patches/__pycache__/
logs/