git+https://github.com/EvictServices/discord.py
git+https://github.com/cop-discord/tools

python-dateutil
dotenv
cashews
xxhash
pillow
colorthief
cairosvg
anyio
jishaku
tornado
wand
humanize
colorama
boltons
pydantic
humanfriendly
lru-dict
asyncpg
psutil
distributed
redis
pytz
munch
matplotlib
geopy
timezonefinder
dill
graphviz
color_processing
pydantic-settings
orjson
loguru
bs4
lxml
dateparser
google-api-python-client
sympy
unidecode
boto3
plotly
pandas